# Frontend Environment Variables

# Production Deployment


# Local Development
NEXT_PUBLIC_API_BASE_URL=https://atherali11-p2-full-stack-todo-app.hf.space

# Better Auth Configuration
BETTER_AUTH_SECRET="DY8ekgjV7C0wBN9HrrFybzC052kWD01F"

# Production

# Local Development
BETTER_AUTH_URL="http://localhost:8000"

# Debug Mode (optional)
# NEXT_PUBLIC_DEBUG=true
