# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@host/database?sslmode=require&channel_binding=require

# Authentication
BETTER_AUTH_SECRET=Butter_Auth_Secret_key_here
# Backend API URL
NEXT_PUBLIC_API_BASE_URL=https://atherali11-p2-full-stack-todo-app.hf.space

# Frontend URL (for CORS)
FRONTEND_URL=https://hackathon-2-phase-2-sigma.vercel.app
