# Database
DATABASE_URL='postgresql://neondb_owner:npg_WCqcDyLH71Yh@ep-snowy-surf-a1ae3tzv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Authentication
BETTER_AUTH_SECRET="DY8ekgjV7C0wBN9HrrFybzC052kWD01F"

# Production Deployment
BETTER_AUTH_URL="https://atherali11-deploy-phase-2.hf.space"
FRONTEND_URL="https://hackathon-2-phase-2-sigma.vercel.app"

# Local Development
# BETTER_AUTH_URL="http://localhost:8000"
# FRONTEND_URL="http://localhost:3000"

# Backend
API_SECRET_KEY=your-api-secret-key-here
